@font-face {
    font-family: Hammersmith;
    src: url("Hammersmith_One/Hammersmith.ttf");
}

body {
    background-color:#fff8e8;
}


header {
    display: flex;
    justify-content: center;
    font-family: Hammersmith;
    color: orangered;
    font-size: 2.5em;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.dislogohome {
    width: 100%;
}

.aabblogohome {
    width: 100%;
}


#logos {
    display: flex;
    padding:20px;
    align-items: center;
}

.homelogo{
    margin: 5vw;
    background-color: skyblue;

}

.homelogo:hover{
    background-color:transparent;
}

.container:hover .overlay {
  opacity: 0.9;
}

dt {
    font-family: "Futura", sans-serif;
    color: darkslategray;
}

dd {
    font-family: "Futura", sans-serif;
    align-content: center;
    width: 100vw;
}

button {
    border: none;
  color: white;
  padding: 0.3em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: 1vw;
  transition-duration: 0.4s;
  cursor: pointer;
    font-family: "Futura", sans-serif;
    background-color: orange;
    border-radius: 5vw;
}

#projects {
    font-family: "Futura", sans-serif;
}

#centered {
    margin:auto;
    justify-content: center;
}