.logo {
    width: 15%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
} 

.logo2 {
    width: 63%;
    margin-left: 20px;
    margin-top: 22px;
    margin-bottom: 40px;
}

h2{
    font-size: 2vw;
    margin-right: 15px;
    font-family: "futura", sans-serif;
    text-align: right;
    margin-top: -60px;
    margin-bottom: 1vh;
    padding-left: 10%;
}

body {
    background: #d2eeff;
}

.mainlibraryimage {
    max-width: 100%;
    position: absolute;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.overlay{
    position: relative;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 98%;
}

footer {
    text-align: right;
    font-family: sans-serif;
    color: darkblue;
    font-family:"futura", sans-serif;
}

.biblio {
    display:block;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 70%;
}

.yellowbackground {
    background: #c2c277;
}

.silverbackground {
    background: #dddddd;
}

.whitebackground {
    background: #d9d9de;
}

.pinkbackground {
    background: #e9bdd7;
}

.bluebackground {
    background: #aaaaee;
}

.redbackground {
    background: #eea2ae;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly; 
    align-items: stretch;
}

.flex_pic {
    width: 750px;
    padding-right: 50px;
    order: 2;
}

.flex_list{
    width: inherit;
    order: 1;
}

.closeshelf {
    display:block;
    width: 100%;
    align-content:center;
    padding-left: 3vw;
    padding-bottom: 2vw;
}

#yellowlist {
    text-align: left;
    font-family: sans-serif;
    color: lightyellow;
    font-family:"futura", sans-serif;
    font-size: 17px;
    float: left;
}

#pinklist {
    text-align: left;
    font-family: sans-serif;
    color: seashell;
    font-family:"futura", sans-serif;
    font-size: 17px;
    float: left;
}

#bluelist {
    text-align: left;
    font-family: sans-serif;
    color: azure;
    font-family:"futura", sans-serif;
    font-size: 17px;
    float: left;
}

#silverlist {
    text-align: left;
    font-family: sans-serif;
    color: gray;
    font-family:"futura", sans-serif;
    font-size: 17px;
    float: left;
}

#whitelist {
    text-align: left;
    font-family: sans-serif;
    color: white;
    font-family:"futura", sans-serif;
    font-size: 17px;
    float: left;
}

#redlist {
    text-align: left;
    font-family: sans-serif;
    color: mistyrose; 
    font-family:"futura", sans-serif;
    font-size: 17px;
    float: left;
}

.authorphoto {
    display:block;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 35%;
}

.aboutme {
    display:block;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 10%; 
}

table {
    margin-left: auto;
    margin-right: auto;
    float:inherit;
    font-family: "futura", sans-serif;
    
}
th {
    column-width: 200px;
    color: orange;
    background-color: beige;
}

tr {
    color: darkgoldenrod;
}
